*{
   -webkit-font-smoothing:subpixel-antialiased;
   transform:scale(0);
   opacity:0;
   animation-name:revealed;
   animation-duration:1.2s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

@keyframes revealed{
   0%{
      transform:translateY(-100%) scale(0);
      opacity:0;
      filter:invert(0.2) hue-rotate(25deg));
   }30%{
      transform:translateY(-25%) scale(0.8);
      opacity:0.8;
      filter:invert(0) hue-rotate(15deg);
   }80%{
      transform:translateY(0) scale(0.8);
      opacity:0.8;
      filter:invert(0) hue-rotate(0deg);
   }100%{
      transform:translateY(0) scale(1);
      opacity:1;
      filter:invert(0) hue-rotate(0deg);
   }
}

.socials-btn{
   width:50px;
   height:50px;
   display:flex;
   justify-content:stretch;
   align-items:stretch;
}.socials-btn:hover{
   background:linear-gradient(to left,#FF464C,#FF426C);
}

.socials-icon{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   font-size:34px;
   object-fit:scale-down;
   object-position:center;
   animation-duration:1.9s;
}

.bg-smooth-pink{
   background-color:#F3E0E2;
}

.bg-orange{
   background-color:#FF4B2B;
}

.bg-red-gradient{
   background:linear-gradient(to left,#FF464C,#FF426C);
}

.bg-inputs{
   background-color:#EEEEEE;
}

.media-container-width{
   max-width:750px;
}